*{
    margin: 0;
    padding: 0;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 400px 400px 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    ". title title ."
    ". choices choices ."
    ". userChoice compChoice ."
    ". status status .";
    grid-gap: 50px;
}
.title{
    grid-area:title;
    margin: 20px;
    padding: 30px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(224, 206, 222);
}
.choices{
    grid-area:choices;
}
.userChoice{
    grid-area:userChoice;
    justify-self: center;

}
.compChoice{
    grid-area:compChoice;
    justify-self: center;

}
.status{
    grid-area:status;
    justify-self: center;

}

.choices{
    display: grid;
    cursor: pointer;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "rock paper scissors"
}
#rock{
    grid-area:rock;   
    justify-self: center;
}
#paper{
    grid-area:paper;
    
    justify-self: center;

}
#scissors{
    grid-area:scissors;
  
    justify-self: center;

}
h1{
    text-align: center;
}
