*{
    margin: 0;
    padding: 0;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 500px 500px 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    ". title title ."
    ". choices choices ."
    ". userChoice compChoice ."
    ". status status .";
    grid-gap: 100px;
}
.title{
    grid-area:title;
}
.choices{
    grid-area:choices;
}
.userChoice{
    grid-area:userChoice;
    justify-self: center;

}
.compChoice{
    grid-area:compChoice;
    justify-self: center;

}
.status{
    grid-area:status;
    justify-self: center;

}

.choices{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "rock paper scissors"
}
#rock{
    width: 50px;
    grid-area:rock;
    border: solid black;
    border-radius:50px;
    justify-self: center;
}
#paper{
    width: 50px;
    grid-area:paper;
    border: solid black;
    border-radius:50px;
    justify-self: center;

}
#scissors{
    width: 50px;
    grid-area:scissors;
    border: solid black;
    border-radius:50px;
    justify-self: center;

}
h1{
    text-align: center;
}
